<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SurveyHeartSuite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
        <listener class-name="listeners.RetryListener"/>
    </listeners>

    <test name="SurveyHeartTests">
        <classes>
            <class name="testcases.CreateFormWithAllQuestionsTest"/>
            <class name="testcases.CreateQuizWithAllQuestionsTest"/>
        </classes>
    </test>
</suite>

